
@mixin type-bg-colors($position, $opacity) {
  .dark {
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-dark; 
    opacity: $opacity;
  }
  .dragon{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-dragon;
    opacity: $opacity;
  }
  .electric{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-electric; 
    opacity: $opacity;
  }
  .fairy{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-fairy; 
    opacity: $opacity;
  }
  .fighting{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-fighting; 
    opacity: $opacity;
  }
  .fire{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-fire; 
    opacity: $opacity;
  }
  .flying{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-flying; 
    opacity: $opacity;
  }
  .ghost{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-ghost;
    opacity: $opacity; 
  }
  .grass{
    position: $position;
    z-index: 1;
    width: 80rem;
    height: 60rem;
    background: $color-grass; 
    opacity: $opacity;
  }
  .ground{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-ground;
    opacity: $opacity; 
  }
  .ice{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-ice; 
    opacity: $opacity;
  }
  .normal{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-normal;
    opacity: $opacity; 
  }
  .poison{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-poison; 
    opacity: $opacity;
  }
  .psychic{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-psychic;
    opacity: $opacity; 
  }
  .rock{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-rock; 
    opacity: $opacity;
  }
  .steel{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-steel;
    opacity: $opacity; 
  }
  .water{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-water; 
    opacity: $opacity;
  }
  .bug{
    position: $position;
    width: 80rem;
    height: 60rem;
    background: $color-bug; 
    opacity: $opacity;
  }
}

@mixin type-icon-bg($position) {
  .dark {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/dark.svg') $color-dark no-repeat center /15px 15px;
  }
  .dragon {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/dragon.svg') $color-dragon no-repeat center /15px 15px;
  }
  .electric {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/electric.svg') $color-electric no-repeat center /15px 15px;
  }
  .fairy {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/fairy.svg') $color-fairy no-repeat center /15px 15px;
  }
  .fighting {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/fighting.svg') $color-fighting no-repeat center /15px 15px;
  }
  .fire {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/fire.svg') $color-fire no-repeat center /1.5rem 1.5rem;
  }
  .flying {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/flying.svg') $color-flying no-repeat center /15px 15px;
  }
  .ghost {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/ghost.svg') $color-ghost no-repeat center /15px 15px;
  }
  .grass {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/grass.svg') $color-grass no-repeat center /15px 15px;
  }
  .ground {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/ground.svg') $color-ground no-repeat center /15px 15px;  
  }
  .ice {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/ice.svg') $color-ice no-repeat center /15px 15px;  
  }
  .normal {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/normal.svg') $color-normal no-repeat center /15px 15px;  
  }
  .poison {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/poison.svg') $color-poison no-repeat center /15px 15px;  
  }
  .psychic {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/psychic.svg') $color-psychic no-repeat center /15px 15px;  
  }
  .rock {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/rock.svg') $color-rock no-repeat center /15px 15px;
  }
  .steel {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/steel.svg') $color-steel no-repeat center /15px 15px;
  }
  .water {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/water.svg') $color-water no-repeat center /15px 15px;
  }
  .bug {
    position: $position;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: url('../assets/type-icons/bug.svg') $color-bug no-repeat center /15px 15px;
  }
}

@mixin type-icon-bg-resp($position) {
  .dark {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/dark.svg') $color-dark no-repeat center /14px 14px;
  }
  .dragon {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/dragon.svg') $color-dragon no-repeat center /14px 14px;
  }
  .electric {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/electric.svg') $color-electric no-repeat center /14px 14px;
  }
  .fairy {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/fairy.svg') $color-fairy no-repeat center /14px 14px;
  }
  .fighting {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/fighting.svg') $color-fighting no-repeat center /14px 14px;
  }
  .fire {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/fire.svg') $color-fire no-repeat center /1.5rem 1.5rem;
  }
  .flying {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/flying.svg') $color-flying no-repeat center /14px 14px;
  }
  .ghost {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/ghost.svg') $color-ghost no-repeat center /14px 14px;
  }
  .grass {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/grass.svg') $color-grass no-repeat center /14px 14px;
  }
  .ground {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/ground.svg') $color-ground no-repeat center /14px 14px;  
  }
  .ice {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/ice.svg') $color-ice no-repeat center /14px 14px;  
  }
  .normal {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/normal.svg') $color-normal no-repeat center /14px 14px;  
  }
  .poison {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/poison.svg') $color-poison no-repeat center /14px 14px;  
  }
  .psychic {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/psychic.svg') $color-psychic no-repeat center /14px 14px;  
  }
  .rock {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/rock.svg') $color-rock no-repeat center /14px 14px;
  }
  .steel {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/steel.svg') $color-steel no-repeat center /14px 14px;
  }
  .water {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/water.svg') $color-water no-repeat center /14px 14px;
  }
  .bug {
    position: $position;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: url('../assets/type-icons/bug.svg') $color-bug no-repeat center /14px 14px;
  }
}
