$color-white-1: #ffffff;
$color-black-1: #000000;
$color-black-2: #131313;
$color-grey-1: #878787;
$color-grey-2: #c4c4c4;
$color-grey-3: #ececec;
$color-grey-4: #fafafa;
$color-red-1: #ff0000;
$color-red-2: #c50000;
$color-red-3: #940000;
$color-orange-1: #ff6600;
$color-yellow-1: #ffd000;
$color-yellow-2: #eeff00;
$color-green-1: #5eff00;
$color-blue-1: #0044ff;
$color-blue-2: #3f7be2;  //#3761a8;
$color-blue-3: #00ffea;

$color-dark: #5d596b;
$color-dragon: #276fd4;
$color-electric: #eed43e;
$color-fairy: #df80dd;
$color-fighting: #e06277;
$color-fire: #f57012;
$color-flying: #6a87c5;
$color-ghost: #5b6bc5;
$color-grass: #6cc256;
$color-ground: #c26c3d;
$color-ice: #5fb9a7;
$color-normal: #adadad;
$color-poison: #ad5dd3;
$color-psychic: #f8837b;
$color-rock: #73bdaf;
$color-steel: #5795a7;
$color-water: #5a87d6;
$color-bug: #a7ca3c;