@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/container';
@import '../../styles/animations';

.searchArea {
  content: "";
  width: 100%;
  height: 6rem;
  z-index: 100;
  position: absolute;
  top: 2.5rem;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column; 
  .searchIcon {
    z-index: 250;
    position: absolute;
    right: 0; 
    width: 4rem;
    height: 4rem;
    background: url('../../assets/search-icon.png') no-repeat center /50px 50px;
    &:hover {
      cursor: pointer;
    }
  }

// if state false
  .none {
    position: absolute;
    right: 0;
    input {
      background-color: green;
      width: 0;
      margin-left: 28rem; //animate right to left //match input width
      height: 3.5rem;
      background-color: transparent;
      border: none;
      position: absolute;
    }
    button {
      display: none;
    }
  }

// if state true
  .searchBar {
    width: 28rem;
    height: 4rem;
    position: absolute;
    right: 0;
    input {
      z-index: 1;
      width: 28rem; //
      height: 3.5rem;
      position: absolute;
      padding-left: 1rem;
      border: none;
      border-radius: 14px;
      transition: .5s ease-in; //
    }
    button {
      position: absolute;
      z-index: 300;
      width: 4rem;
      height: 4rem;
      right: 0;
      background: url('../../assets/search-icon-bw.png') no-repeat center /50px 50px;
      border: none;
    }
  }
  .dropdown {
    position: absolute;
    top: 3.5rem;
    right: 2.8rem;
    width: 24rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin-top: .16rem;
    .dropdownRow {
      font-size: 1.7rem;
      font-weight: 400;
      &:hover {
        cursor: pointer;
        text-align: start;
        margin: 2px 0;
        background-color: rgb(233, 233, 233);
      }
    }
  }
  .dropdown:empty {
    border: none;
  }
}

//// Responsive //// 
@media (max-width: 768px) {
  .searchArea {
    .searchBar {
      margin-top:7rem;
      position: initial;
      right: 28%;
      button {
        margin-left: 24rem;
        right: unset;
      }
      .dropdown {
        position: relative;
        top: 3.5rem;
        right: -1rem;
      }
    }
  }
}